body {
    background: #dabcb7;
    font-size: 14px;
}


.centered-content {
    text-align: center;
}

.slideshow-container {
    position: relative;
    margin: auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center vertically */
}

.mySlides {
    width: 100%; /* Ensure the slides take up the full width of the container */
}

.prev, .next {
    position:relative;
    top: 50%;
    width:auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 14px;
    color: #dabcb7;
    background-color: black;
    border: solid;
    cursor: pointer;
}

.prev:hover, .next:hover {
    background-color:darkolivegreen;
}