body {
    background: #dabcb7;
    font-size: 14px;
}


.slideshow-container {
    position: relative;
    margin: auto; /* Center horizontally */
    display: flex;

}

.mySlides {
   
    width: 100%; /* Ensure the slides take up the full width of the container */
}

.prev, .next {
   
    position:fixed;
    top: 50%;
    width:auto;
    font-size: 14px;
    padding: 10px;
    margin-top: -22px;
    color: #dabcb7;
    background-color: black;
    border: solid;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color:darkolivegreen;
}